*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
@font-face {
    font-family: peacock;
    src: url("peacockk.ttf");
  }

  h1 , h2{ 
    font-family: peacock;
    margin-left: 50px;
    margin-top: 30px;
  }

  .div-1{
    margin-left: 50px;
    
  }
p{
  margin-left: 50px;
  width: 70vw;
  font-size: 18px;
  margin-top: 20px;
  line-height: 1.5rem;
  /* font-family: sans-serif; */
  font-family: 'Heebo', sans-serif;
}

img{
  margin-left: 50px;
  margin-top: 20px;
  width:613px;
  height:345px;
}